body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    width: 100%;
    padding: 10px 0;
}

.navbar {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.logo-text {
    font-size: 1.3em;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;

}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.nav-links li a:hover {
    color: rgb(92, 91, 91);
}

.nav-links a.active {
    color: rgb(255, 255, 255);
    background-color: #018892;
    padding: 1px 15px 1px 15px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 1px 0 5px 5px #018892;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    background: white;
    height: 3px;
    width: 25px;
    margin: 4px 0;
}

main {
    text-align: center;
}

#cta {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#team-name,
#team-contact,
#team-phone,
#team-players {
    font-size: 15px;
    height: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#team-players {
    width: 11.5em;
    height: 5em;
}

#register button {
    background-color: rgb(74, 74, 252);
    color: white;
    border-style: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.24),0 10px 50px 0 rgba(0,0,0,0.19);
}

footer {
    margin-top: auto;
    text-align: center;
    background-color: #333;
    color: white;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        background-color: #333;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        border: 1px solid #222;
        opacity: 0;
        transform: translateY(-20px);
        font-size: 1.2rem;
    }

    .nav-links a.active {
        background-color: #018892;
        padding: 15px 30px;
        border-radius: 5px;
        border-style: none;
        box-shadow: 1px 0 5px 5px #018892;
    }

    .nav-links.active {
        display: flex;
        border: none;
        opacity: 1;
        transform: translateY(0);
    }

    .hamburger {
        display: flex;
    }
}